/* component boxes aside game canvas (Highscores, Controls, Game Stats, User Info) */

.asideGame {
  width: calc(0.8 * 100vw);
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.asideGame .sidetab {
  line-height: 1.5em;
  border: 3px solid white;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Sidetabs Children */
.box-title {
  color: teal;
  line-height: 2em;
}

.box-title:hover {
  cursor: pointer;
}

.gameStats .danger {
  color: red;
}

table {
  transition: max-height 0.5s ease;
  max-height: 20px;
}

table tbody,
table tfoot {
  overflow: hidden;
}

table tfoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open {
  max-height: 300px;
  transition: max-height 0.5s ease;
  /* Make all children visible with fade */
  & * {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.closed {
  max-height: 2em;
  overflow: hidden;
  transition: max-height 0.5s ease;
  /* Make all children invisible except first child with fade */
  & * {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  & > *:first-child {
    visibility: visible;
    opacity: 1;
  }
}

tbody tr {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
